<!DOCTYPE html>
<html>
<head>
    <title>Nome de usuário já existe!</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <style>
        .container h1, .container p {
            color: white !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Nome de usuário já existe!</h1>
        <p>Desculpe, mas o nome de usuário que você escolheu já está em uso. Por favor, tente um nome de usuário diferente.</p>
    </div>
</body>
</html>
